DATABASE_URL="file:./dev.db"
# Set your Google Maps API key below if you wish to use official Google Street View coverage
# If left blank, Campus Geo seamlessly uses its high-fidelity 360 photosphere viewer!
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
